header {
    position: relative;
    z-index: 2;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;


    padding:10px 50px;
    background-color: transparent;
    transition: all 0.5s ease 0s;

    position: fixed;
    width: 100%;
}

.nav__menu {
    display: flex;
    flex-direction: row;
    gap: 50px;
}


.nav__menu ul {
    display: flex;
    gap: 50px;
}


.nav__menu a {
    font-weight: 600;
}

.mobile__menu {
    display: none;
}

img {
    width: 40px;
}



/* ================== MEDIA QUERIES (MEDIUM DEVICES) ================== */


@media screen and (max-width: 1024px) {

    
    .mobile__menu {

        display: block;
        cursor: pointer;
        color: var(--color-primary);
        font-size: 40px;
    }

    
    
    .nav__menu {
        position: fixed;
        top: 0;
        left: 0;
        width: 0%;
        height: 100%;
        background: var(--color-bg);
        z-index: 8888;
    }

    .nav__list {
        position: absolute;
        top: 0;
        right: 0;
        width: 250px;
        height: 100%;
        background: var(--color-primary);
        z-index: 99999;
        display: flex;
    }
    

}




/* ================== MEDIA QUERIES (SMALL DEVICES) ================== */

@media screen and (max-width: 600px) {
    
}

