@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
  outline: none;
  text-decoration: none;
  list-style-type: none;
  
}

a {
  color: var(--color-primary);
}

html {
  scroll-behavior: smooth;
}

button {
  background-color: var(--color-primary);
  cursor: pointer;
  padding: 12px;
  border-radius: 7px;
  transition: all 0.5s ease 0s;
}



:root {
  --color-bg: rgb(6, 70, 53); ;
  --color-primary:rgb(81, 146, 89) ;
  --color-white: #FFF;
}